.carousel-item img {
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Crop nicely */
}

/* Marketing images */
.rounded-circle {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

/* Featurette images */
.featurette-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
